.hero-container {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #1b1b1b;
  gap: 2rem;
}

.name-wrapper {
  color: #fff;
  font-size: clamp(3vw, 3rem, 4rem);
}

.under-name-wrapper h2 {
  font-size: clamp(1vw, 1rem, 2rem);
  font-family: "Ubuntu", sans-serif;
}

.name-wrapper span {
  color: var(--purple);
}

.under-name-wrapper {
  color: #fff;
}

.under-name-wrapper > .icon-container {
  display: none;
}

/* Section divider */
.custom-shape-divider-bottom-1640701133 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1640701133 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 101px;
}

.custom-shape-divider-bottom-1640701133 .shape-fill {
  fill: #f8fafd;
}

@media screen and (max-width: 960px) {
  .name-wrapper {
    font-size: 6vw;
  }

  .under-name-wrapper {
    font-size: 4vw;
  }

  .under-name-wrapper > .icon-container {
    display: flex;
    position: absolute;
    margin-top: 1em;
    right: 50%;
    left: 50%;
  }
}
