.projects-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  background-color: var(--bg-color);
  font-family: "Ubuntu", sans-serif;
}

.projects-title-wrapper {
}

.project-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.boxes-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 80%;
  height: 100%;
  gap: 2rem;
  border: 1px solid red;
}

.box {
  height: 25rem;
  width: 25rem;
  border-radius: 15px;
  border: 1px solid red;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.project-preview {
  height: 100%;
  width: 100%;
}

.live-git {
  width: 100%;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 3rem;
  border: 1px solid red;
}

@media screen and (max-width: 960px) {
  .projects-container {
    height: 140vh;
  }

  .boxes-wrapper {
    max-width: 70%;
  }

  .box {
    max-width: 15rem;
    max-height: 15rem;
    height: 10rem;
    width: 15rem;
  }

  .live-git {
    height: 2rem;
  }
}
